body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    display: flex;
    justify-content: center;
    margin: 0;
}

.container {
    background-color: #fff;
    border-radius: 15px;
    padding: 20px;
    text-align: center;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.51);
    width: 90%;
    max-width: 400px;
}

header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}

.follow-btn, .share-btn {
    background-color: #ffffff;
    border: 1px solid #ddd;
    border-radius: 25px;
    padding: 5px 10px;
    font-size: 14px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.share-btn a{
    text-decoration: none;
}

.follow-btn:hover, .share-btn:hover {
    background-color: #f0f0f0;
}

.profile-img {
    border-radius: 50%;
    width: 200px;
    height: 200px;
    object-fit: cover;
    filter: drop-shadow(0 4px 8px rgba(0, 0, 0, 1));
}

h1 {
    font-size: 20px;
    margin: 10px 0;
}

.title {
    font-size: 14px;
    color: #666;
    margin-bottom: 15px;
}

.social-media {
    display: flex;
    justify-content: center;
    gap: 15px;
    margin-bottom: 20px;
}

.social-icon {
    font-size: 24px;
    color: #555;
    text-decoration: none;
    text-decoration: none;
  background-color: transparent;
  border: none;
}

.social-icon:hover {
    color: #000;
    background-color: #ddd;
    background-color: transparent;
}

.buttons {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.option-btn {
    background-color: #eee;
    border: none;
    border-radius: 25px;
    padding: 10px 20px;
    font-size: 14px;
    cursor: pointer;
    transition: background-color 0.3s;
    /* text-align: left; */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.51);
}

.option-btn:hover {
    background-color: #ddd;
}

@media only screen and (max-width: 600px) {
    .container {
        width: 100%;
        border-radius: 0;
    }
}
